# OpenAI LLM and embedding
OPENAI_API_KEY=
# Ollama
OLLAMA_MODEL=
OLLAMA_BASE_URL=
OLLAMA_EMBEDDING_MODEL=
# Langsmith
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=
LANGCHAIN_ENDPOINT=
# Pinecone
INDEX_NAME=
PINECONE_API_KEY=